* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 200;
  list-style: none;
  border-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  max-width: 1366px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.wrapper header {
  width: 100%;
  height: 56px;
}

.wrapper header .container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .container .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .container .logo .logo-container {
  width: 40px;
  height: 40px;
}

.wrapper header .container .logo .logo-container img {
  width: 100%;
  height: 100%;
}

.wrapper header .container .nav-items {
  width: 30%;
  height: 100%;
  line-height: 3;
}

.wrapper header .container .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header .container .nav-items ul li a {
  font-family: noto serif;
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.wrapper header .container .hamber-icon {
  display: none;
  margin-right: 1em;
}

.wrapper .main-area {
  width: 100%;
  height: 25em;
  padding-top: 10px;
  background-image: url(../img/main-background.png);
  background-position: 90% 35%;
  background-repeat: no-repeat;
}

.wrapper .main-area .main-text {
  width: 50%;
  position: relative;
  top: 25%;
  left: 10%;
}

.wrapper .main-area .main-text .first p {
  font-size: 3rem;
  font-family: serif;
}

.wrapper .main-area .main-text .seconds {
  margin-left: 20px;
}

.wrapper .main-area .main-text .seconds p {
  font-family: serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.wrapper .skill-area {
  width: 100%;
  min-height: 20em;
  height: auto;
  overflow: hidden;
}

.wrapper .skill-area .skill-header {
  width: 95%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 5px;
}

.wrapper .skill-area .skill-header .skill-title-container {
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .skill-area .skill-header .skill-title-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: boogaloo;
  float: left;
}

.wrapper .skill-area .skill-header .line-draw {
  width: 100%;
  float: right;
  height: 2px;
  background-color: #000000;
}

.wrapper .skill-area .skill-container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.wrapper .skill-area .skill-container .skill-area {
  width: 95%;
  min-height: 50%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.wrapper .skill-area .skill-container .skill-area .skill {
  text-align: center;
}

.wrapper .skill-area .skill-container .skill-area .skill h3 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: noto serif;
}

.wrapper .project-section {
  width: 95%;
  min-height: 15em;
  margin: 0 auto;
  padding-top: 1em;
  background-color: #fff;
}

.wrapper .project-section .project-header {
  width: 100%;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrapper .project-section .project-header .line-draw {
  width: 100%;
  height: 2px;
  background: #000;
}

.wrapper .project-section .project-header h2 {
  margin: 0 5px;
  font-family: patua one;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.wrapper .project-section .project-container {
  width: 100%;
  min-height: 15em;
  padding-top: 2em;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.wrapper .project-section .project-container .project-item {
  overflow: hidden;
  height: 200px;
  padding: 3px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 5px;
}

.wrapper .project-section .project-container .project-item .porject-item-img {
  width: 100%;
  height: 80%;
  border: 1px solid #000000;
  border-radius: 3px;
}

.wrapper .project-section .project-container .project-item .porject-item-img img {
  width: 100%;
  height: 100%;
}

.wrapper .project-section .project-container .project-item .project-item-title {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: pink;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .project-section .project-container .project-item .project-item-title h1 {
  font-family: serif;
  font-weight: bold;
  font-size: 1.2vw;
  color: white;
  text-transform: uppercase;
}

.wrapper .project-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 5px #cecece;
          box-shadow: 1px 2px 5px #cecece;
}

.wrapper .social-section {
  width: 100%;
  min-height: 10em;
  margin-top: 1em;
  background: #f3d4e096;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrapper .social-section .social-circle {
  width: 5em;
  height: 5em;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .social-section .social-circle:hover {
  border: 5px solid #ffffff;
}

.wrapper .social-section .facebook {
  background-image: url(../img/social.png);
  background-position: -39px -39px;
  background-repeat: no-repeat;
}

.wrapper .social-section .github {
  background-image: url(../img/social.png);
  background-position: -279px -519px;
  background-repeat: no-repeat;
}

.wrapper .social-section .stackoverflow {
  background-image: url(../img/social.png);
  background-position: -159px -519px;
  background-repeat: no-repeat;
}

.wrapper .social-section .linkedin {
  background-image: url(../img/social.png);
  background-position: -759px -39px;
  background-repeat: no-repeat;
}

.wrapper .social-section .twitter {
  background-image: url(../img/social.png);
  background-position: -159px -39px;
  background-repeat: no-repeat;
}

.wrapper .about-section {
  width: 100%;
  min-height: 15em;
  padding: 3em;
  background-color: #f9f9f9;
}

.wrapper .about-section .about-heading {
  width: 100%;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-family: patua one;
  font-weight: bold;
  font-size: 2rem;
}

.wrapper .about-section .about-cont {
  width: 70%;
  min-height: 10em;
  margin: 3em auto 0 auto;
}

.wrapper .about-section .about-cont p {
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: noto serif;
  letter-spacing: 0.5px;
  color: #2b2b2b;
}

.wrapper footer {
  width: 100%;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #000000;
}

.wrapper footer p {
  font-family: noto serif;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */