*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    list-style: none;
    border-style: none;
    text-decoration: none;
    box-sizing: border-box;
}




.wrapper{
    min-height: 100vh;
    height: auto;
    max-width: 1366px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;

    header{
        width: 100%;
        height: 56px;
        

        .container {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                
                height: 100%;
                display: flex;
                align-items: center;

                .logo-container{
                    width: 40px;
                    height: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


            .nav-items{
                width: 30%;
                height: 100%;
                line-height: 3;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        a{
                            font-family: noto serif;
                            font-weight: bold;
                            color: #000;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .hamber-icon{
                display: none;
                margin-right: 1em;
            }

           
        }
        
    }

    .main-area{
        width: 100%;
        height: 25em;
        padding-top: 10px;
        background-image: url(../img/main-background.png);
        background-position: 90% 35%;
        background-repeat: no-repeat;


        .main-text{
            position: absolute;
            top: 25%;
            left: 10%;

            .first {
                p{
                    font-size: 3rem;
                    font-family: serif;
                }
            }

            .seconds{
                margin-left: 20px;
                p{
                    font-family: serif;
                    font-size: 3.5rem;
                    font-weight: bold;
                }
            }
        }
        
    }

    .skill-area{
        width: 100%;
        min-height: 20em;
        height: auto;
        overflow: hidden;
        .skill-header{
            width: 95%;
            height: 2em;
            display: flex;
            align-items: center;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            padding-top: 5px;

            .skill-title-container{
                height: 100%;
                width: 15%;
                display: flex;
                align-items: center;
                h2 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    font-family: boogaloo;
                    float: left;
                }
            }
            .line-draw{
                width: 100%;
                float: right;
                height: 2px;
                background-color: #000000;
            }
        }

        .skill-container{
            width: 100%;
            height: 100%;
            padding-top: 20px;
            .skill-area{
                width: 95%;
                min-height: 50%;
                margin: 0 auto;
                display: grid;
                grid-row-gap: 40px;
                grid-column-gap: 20px;
                grid-template-columns: repeat(6, 1fr);
               .skill{
                   text-align: center;
                   h3{
                       font-size: 1.2rem;
                       font-weight: 600;
                       font-family: noto serif;
                   }
               }
            }
        }
    }

    .project-section{
        width: 95%;
        min-height: 15em;
        margin: 0 auto;
        padding-top: 1em;
        background-color: #fff;

        .project-header{
            width: 100%;
            height: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;

            .line-draw{
                width: 100%;
                height: 2px;
                background: #000;
            }

            h2{
                margin: 0 5px;
                font-family: patua one;
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 1px;
            }
        }

        .project-container{
            width: 100%;
            min-height: 15em;
            padding-top: 2em;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            .proj-item{
                width: 10em;
                height: 11em;
                padding: 1px;
                margin: 5px 15px;

                .proj-img{
                    width: 100%;
                    height: 8em;
                    box-shadow: 2px 2px 3px #cecece;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .proj-title{
                    width: 98%;
                    height: 2em;
                    margin: 10px auto;
                    text-align: center;
                    line-height: 2em;
                    border-radius: 3px;
                    box-shadow: 0px 2px 4px #cecece;

                    h1{
                        font-family: lobster;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

            }

            .proj-item :hover{
                cursor: pointer;
            }
        }
    }

    .social-section{
        width: 100%;
        height: 10em;
        margin-top: 1em;
        background: #f3d4e096;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap;

        .social-circle{
            width: 5em;
            height: 5em;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }

        .social-circle:hover{
           border: 5px solid #ffffff;
        }

        .facebook{
            background-image: url(../img/social.png);
            background-position: -39px -39px;
            background-repeat: no-repeat;
        }

        .github{
            background-image: url(../img/social.png);
            background-position: -279px -519px;
            background-repeat: no-repeat;
        }

        .stackoverflow{
            background-image: url(../img/social.png);
            background-position: -159px -519px;
            background-repeat: no-repeat;
        }

        .linkedin{
            background-image: url(../img/social.png);
            background-position: -759px -39px;
            background-repeat: no-repeat;
        }

        .twitter{
            background-image: url(../img/social.png);
            background-position: -159px -39px;
            background-repeat: no-repeat;
        }
    }

    .about-section{
        width: 100%;
        min-height: 15em;
        padding: 3em;
        background-color: #f9f9f9;

        .about-heading{
            width: 100%;
            height: 2em;
            text-align: center;
            line-height: 2em;
            font-family: patua one;
            font-weight: bold;
            font-size: 2rem;
        }

        .about-cont{
            width: 70%;
            min-height: 10em;
            margin: 3em auto 0 auto;

            p{
                font-size: 1.3rem;
                font-weight: lighter;
                font-family: noto serif;
                letter-spacing: 0.5px;
                color: #2b2b2b;
            }
        }
    }

    footer{
        width: 100%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #000000;
        p{
            font-family: noto serif;
            font-size: 1rem;
            font-weight: 200;
            cursor: pointer;
        }
    }
}