@media only screen and (max-width:1440px){
    .wrapper{
        max-width: 1440px;
    }
}

@media only screen and (max-width:1024px){
    .wrapper{
        max-width: 1024px;

        header{
            .container{
                .nav-items{
                    display: none;
                }
                .hamber-icon{
                    display: block !important;
                }
            }
        }
        .main-area{
            .main-text{
                top: 40%;
                left: 5%;

                .first{
                    p{
                        font-size: 2rem;
                    }
                }
                .seconds{
                    p{
                        font-size: 3rem;
                    }
                }
            }
        }

        .skill-area{
            .skill-header{
                .skill-title-container{
                    width: 25%;
                }
            }
        }

        .project-section{
            .project-container{
                justify-content: center;
            }
        }


    }
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 600px){
    .wrapper{
        max-width: 600px;

        header{
            .container{
                .nav-items{
                    display: none;
                }
            }
        }

        .project-section{

            .project-container{
                .proj-items{
                    margin: 5px 50px;
                }
            }
        }
    }
}