// @media only screen and (max-width:1440px){
//     .wrapper{
//         max-width: 1440px;
        
//     }
// }

@media only screen and (max-width:1024px){
    .wrapper{
        max-width: 1024px;

        header{
            .container{
                .nav-items{
                    display: none;
                }
                .hamber-icon{
                    display: block !important;
                }
            }
        }
        .main-area{
            .main-text{
                top: 40%;
                left: 5%;

                .first{
                    p{
                        font-size: 2rem;
                    }
                }
                .seconds{
                    p{
                        font-size: 3rem;
                    }
                }
            }
        }

        .skill-area{
            .skill-header{
                .skill-title-container{
                    width: 25%;
                }
            }
        }

        .project-section{
            .project-container{
                justify-content: center;
            }
        }


    }
}

@media only screen and (max-width: 768px){

    .wrapper{
        max-width: 768px;

        .main-area {
            .main-text {
                top: 60%;
                left: 5%;

                .first {
                    p {
                        font-size: 2rem;
                    }
                }

                .seconds {
                    margin-left: 0;
                    p {
                        font-size: 2.5rem;
                    }
                }
            }
        }

         .skill-area {
             .skill-header {
                 .skill-title-container {
                     width: 35%;
                 }
             }

             .skill-container{
                 .skill-area{
                     grid-template-columns: repeat(3, 1fr);
                 }
             }
         }

    }
    
}

@media only screen and (max-width: 425px){
    .wrapper{
        max-width: 425px;
        .main-area{
            .main-text{
                top: 70%;
            }
        }

        .skill-area{
            .skill-header{
                .skill-title-container{
                    width: 80%;
                }
            }

            .skill-container{
                .skill-area{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        .project-section{
            .project-container{
                .proj-item{
                    width: 16em;
                }
            }
        }

        .social-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 4em;
        }
    }
}